$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-home-solid: "\e970";
$icon-question-circle: "\e971";
$icon-edit-solid: "\e973";
$icon-book-solid: "\e96e";
$icon-file-excel-solid: "\e96f";
$icon-exclamation-circle-solid: "\e96a";
$icon-search-solid: "\e96b";
$icon-user-solid: "\e96c";
$icon-cog-solid: "\e96d";
$icon-question-circle-solid: "\e974";
$icon-times-solid: "\e972";
$icon-gear: "\e969";
$icon-info-circle: "\e940";
$icon-history: "\e94f";
$icon-refresh: "\e950";
$icon-search: "\e95d";
$icon-sign-out: "\e95f";
$icon-user-o: "\e965";
$icon-user: "\e968";
$icon-check6: "\e90a";
$icon-mail2: "\e95e";
$icon-mail4: "\e943";
$icon-mail3: "\e90b";
$icon-info1: "\e962";
$icon-info3: "\e95c";
$icon-info4: "\e95a";
$icon-info5: "\e917";
$icon-alert5: "\e95b";
$icon-alert3: "\e955";
$icon-alert4: "\e956";
$icon-alert1: "\e91f";
$icon-alert2: "\e900";
$icon-help1: "\e948";
$icon-paypal1: "\e901";
$icon-mastercard1: "\e902";
$icon-jcb1: "\e903";
$icon-visa1: "\e904";
$icon-stripe1: "\e905";
$icon-word1: "\e906";
$icon-ppt1: "\e907";
$icon-excel1: "\e908";
$icon-outlook1: "\e909";
$icon-copy5: "\e911";
$icon-align-justify_2: "\e91e";
$icon-stop2: "\e923";
$icon-circle6: "\e924";
$icon-triangle2: "\e925";
$icon-triangle1: "\e90d";
$icon-pause3: "\e926";
$icon-step12: "\e927";
$icon-step10: "\e928";
$icon-step11: "\e929";
$icon-step9: "\e92a";
$icon-circle2: "\e92b";
$icon-circle1: "\e94b";
$icon-slash1: "\e90c";
$icon-minus: "\e960";
$icon-del10: "\e918";
$icon-plus6: "\e920";
$icon-plus2: "\e94c";
$icon-plus3: "\e961";
$icon-plus4: "\e92c";
$icon-del1: "\e92e";
$icon-del2: "\e94d";
$icon-del3: "\e957";
$icon-del4: "\e919";
$icon-del5: "\e922";
$icon-del6: "\e92d";
$icon-del7: "\e921";
$icon-arrow1: "\e91a";
$icon-arrow2: "\e91b";
$icon-arrow4: "\e964";
$icon-arrow3: "\e963";
$icon-arrow5: "\e91d";
$icon-arrow6: "\e91c";
$icon-arrow7: "\e92f";
$icon-arrow8: "\e930";
$icon-arrow9: "\e931";
$icon-arrow10: "\e932";
$icon-arrow11: "\e94a";
$icon-arrow12: "\e934";
$icon-arrow13: "\e935";
$icon-arrow14: "\e936";
$icon-arrow15: "\e937";
$icon-arrow16: "\e938";
$icon-arrow17: "\e939";
$icon-arrow18: "\e93a";
$icon-arrow19: "\e93b";
$icon-arrow20: "\e93d";
$icon-arrow21: "\e954";
$icon-arrow22: "\e933";
$icon-arrow23: "\e93c";
$icon-arrow24: "\e93e";
$icon-arrow25: "\e949";
$icon-check_3: "\e93f";
$icon-check: "\e959";
$icon-check2: "\e913";
$icon-check3: "\e915";
$icon-check4: "\e914";
$icon-tell1: "\e942";
$icon-copy3: "\e910";
$icon-slack1: "\e916";
$icon-clock1: "\e912";
$icon-power1: "\e944";
$icon-window1: "\e94e";
$icon-doc1: "\e945";
$icon-window2: "\e946";
$icon-copy2: "\e947";
$icon-unlock4: "\e90e";
$icon-lock2: "\e90f";
$icon-bubble1: "\e951";
$icon-map1: "\e941";
$icon-user2: "\e952";
$icon-ellipsis3: "\e953";
$icon-gear1: "\e958";
$icon-pdf2: "\e966";
$icon-info8: "\e967";
$icon-mail6: "\f003";
$icon-mail7: "\f0e0";
$icon-plus1: "\f067";
$icon-minus1: "\f068";
$icon-question1: "\f128";
$icon-music1: "\f001";
$icon-search1: "\f002";
$icon-heart1: "\f004";
$icon-star1: "\f005";
$icon-star2: "\f006";
$icon-check1: "\f00c";
$icon-del8: "\f00d";
$icon-home1: "\f015";
$icon-repeat1: "\f01e";
$icon-refresh1: "\f021";
$icon-lock1: "\f023";
$icon-unlock1: "\f09c";
$icon-volume1: "\f026";
$icon-volume2: "\f027";
$icon-volume3: "\f028";
$icon-step8: "\f048";
$icon-step6: "\f049";
$icon-step7: "\f04a";
$icon-play1: "\f04b";
$icon-pause1: "\f04c";
$icon-stop1: "\f04d";
$icon-step4: "\f04e";
$icon-step2: "\f050";
$icon-step3: "\f051";
$icon-plus5: "\f055";
$icon-minus4: "\f056";
$icon-del9: "\f057";
$icon-check5: "\f058";
$icon-question2: "\f059";
$icon-info7: "\f05a";
$icon-arrow30: "\f060";
$icon-arrow31: "\f061";
$icon-arrow32: "\f062";
$icon-arrow33: "\f063";
$icon-mail10: "\f064";
$icon-exclamation1: "\f06a";
$icon-exclamation2: "\f071";
$icon-phone3: "\f095";
$icon-caret-left: "\f0d9";
$icon-caret-right: "\f0da";
$icon-sort2: "\f0dd";
$icon-sort1: "\f0de";
$icon-arrow40: "\f053";
$icon-arrow41: "\f054";
$icon-arrow42: "\f077";
$icon-arrow43: "\f078";
$icon-arrow44: "\f104";
$icon-arrow45: "\f105";
$icon-arrow46: "\f106";
$icon-arrow47: "\f107";
$icon-arrow48: "\f137";
$icon-arrow49: "\f138";
$icon-arrow50: "\f139";
$icon-arrow51: "\f13a";
$icon-ellipsis1: "\f141";
$icon-ellipsis2: "\f142";
$icon-play2: "\f144";
$icon-minus5: "\f146";
$icon-minus6: "\f147";
$icon-check8: "\f14a";
$icon-youtube1: "\f16a";
$icon-file1: "\f016";
$icon-copy4: "\f0c5";
$icon-file2: "\f0f6";
$icon-pdf1: "\f1c1";
$icon-word2: "\f1c2";
$icon-excel2: "\f1c3";
$icon-ppt2: "\f1c4";
$icon-img1: "\f1c5";
$icon-user1: "\f007";
$icon-trash1: "\f014";
$icon-gear2: "\f013";
$icon-print1: "\f02f";

